@import "colores.scss";
@import "variables.scss";
@import "mixin.scss";

/* EMPRESA
-------------------------------------------------- */

.conteiner-lg{
    .div__empresa{
            padding: {
                top: map-get($sizes, 8);
                bottom: map-get($sizes, 2);
            }
            @include center;
        background-color: $bgcolor-1;
      }
      
      .div__empresa1{
            @extend .div__empresa2;
            @include center;
        background-color: $bgcolor-3;
      }
      .h5__empresa{
        color: rgba(255, 0, 0, 0.747);
        font-weight: bold;
      }
      
      .div__empresa2{

        padding: {
            top: map-get($sizes, 4);
            bottom: map-get($sizes, 4);
        }
      }
      
      .caj{
        background-color: $bgcolor-1;
        display: flex;
        @include center;
      }

}
